.contentListReviews2{
    -webkit-tap-highlight-color: #349edb;
    background-attachment: scroll!important;
    background-color: transparent!important;
    background-image: none!important;
    background-position: 0 0!important;
    background-repeat: repeat!important;
    border-color: currentColor!important;
    border-style: none!important;
    border-width: medium!important;
    bottom: auto!important;
    box-sizing: content-box!important;
    clear: none!important;
    clip: auto!important;
    color: inherit!important;
    counter-increment: none!important;
    counter-reset: none!important;
    cursor: auto!important;
    direction: inherit!important;
    float: none!important;
    font-family: inherit!important;
    font-size: inherit!important;
    font-style: inherit!important;
    font-variant: normal!important;
    font-weight: inherit!important;
    height: auto!important;
    left: auto!important;
    letter-spacing: normal!important;
    line-height: inherit!important;
    list-style-position: outside!important;
    list-style-image: none!important;
    max-height: none!important;
    max-width: none!important;
    min-height: 0!important;
    min-width: 0!important;
    opacity: 1!important;
    overflow: visible!important;
    position: static!important;
    quotes: '' ''!important;
    right: auto!important;
    table-layout: auto!important;
    text-align: inherit!important;
    text-decoration: inherit!important;
    text-indent: 0!important;
    text-transform: none!important;
    top: auto!important;
    unicode-bidi: normal!important;
    vertical-align: baseline!important;
    visibility: inherit!important;
    white-space: normal!important;
    width: auto!important;
    word-spacing: normal!important;
    z-index: auto!important;
    filter: none!important;
    -webkit-border-radius: 0!important;
    display: block!important;
    padding: 0!important;
    margin: 0!important;
    list-style-type: none!important;
}