.controlBar2{
    -webkit-tap-highlight-color: #349edb;
    background-color: #f1f1f1!important;
border-color: currentColor!important;
border-style: none!important;
border-width: medium!important;
bottom: auto!important;
box-sizing: content-box!important;
clear: none!important;
clip: auto!important;
counter-increment: none!important;
counter-reset: none!important;
cursor: auto!important;
direction: inherit!important;
float: none!important;
height: auto!important;
left: auto!important;
letter-spacing: normal!important;
list-style-type: inherit!important;
list-style-position: outside!important;
list-style-image: none!important;
max-height: none!important;
max-width: none!important;
min-height: 0!important;
min-width: 0!important;
opacity: 1!important;
overflow: visible!important;
quotes: '' ''!important;
right: auto!important;
table-layout: auto!important;
text-align: inherit!important;
text-indent: 0!important;
top: auto!important;
unicode-bidi: normal!important;
vertical-align: baseline!important;
visibility: inherit!important;
white-space: normal!important;
width: auto!important;
word-spacing: normal!important;
z-index: auto!important;
filter: none!important;
-webkit-border-radius: 0!important;
color: #333!important;
font-size: 13px!important;
font-family: "Helvetica Neue","Arial",sans-serif!important;
font-style: normal!important;
font-weight: 400!important;
font-variant: normal!important;
text-decoration: none!important;
text-transform: none!important;
padding-top: 0!important;
padding-right: 0!important;
padding-bottom: 0!important;
padding-left: 0!important;
margin-top: 0!important;
margin-right: 10px!important;
margin-left: 10px!important;
background: #f1f1f1!important;
line-height: 19.5px!important;
margin-bottom: 10px!important;
zoom: 1!important;
position: relative!important;
display: flex!important;
flex-wrap: wrap!important;
-webkit-box-align: center!important;
align-items: center!important;
}

.controlBar2::before{
  content: "";
  display: table;
}

.controlBarCount2{
    -webkit-tap-highlight-color: #349edb;
    background-attachment: scroll!important;
    background-color: transparent!important;
    background-image: none!important;
    background-position: 0 0!important;
    background-repeat: repeat!important;
    border-color: currentColor!important;
    border-style: none!important;
    border-width: medium!important;
    bottom: auto!important;
    box-sizing: content-box!important;
    clear: none!important;
    clip: auto!important;
    color: inherit!important;
    counter-increment: none!important;
    counter-reset: none!important;
    cursor: auto!important;
    direction: inherit!important;
    font-family: inherit!important;
    font-size: inherit!important;
    font-style: inherit!important;
    font-variant: normal!important;
    font-weight: inherit!important;
    height: auto!important;
    left: auto!important;
    letter-spacing: normal!important;
    line-height: inherit!important;
    list-style-type: inherit!important;
    list-style-position: outside!important;
    list-style-image: none!important;
    margin: 0!important;
    max-height: none!important;
    max-width: none!important;
    min-height: 0!important;
    min-width: 0!important;
    opacity: 1!important;
    overflow: visible!important;
    quotes: '' ''!important;
    right: auto!important;
    table-layout: auto!important;
    text-align: inherit!important;
    text-decoration: inherit!important;
    text-indent: 0!important;
    top: auto!important;
    unicode-bidi: normal!important;
    vertical-align: baseline!important;
    visibility: inherit!important;
    white-space: normal!important;
    width: auto!important;
    word-spacing: normal!important;
    z-index: auto!important;
    filter: none!important;
    -webkit-border-radius: 0!important;
    display: block!important;
    text-transform: inherit!important;
    position: relative!important;
    float: left!important;
    padding: 10px!important;
    margin-right: auto!important;
}

.contentPaginationPagesCurrent2{
    -webkit-tap-highlight-color: #349edb;
    background-attachment: scroll!important;
    background-color: transparent!important;
    background-image: none!important;
    background-position: 0 0!important;
    background-repeat: repeat!important;
    border-color: currentColor!important;
    border-style: none!important;
    border-width: medium!important;
    bottom: auto!important;
    box-sizing: content-box!important;
    clear: none!important;
    clip: auto!important;
    color: inherit!important;
    counter-increment: none!important;
    counter-reset: none!important;
    cursor: auto!important;
    direction: inherit!important;
    float: none!important;
    font-family: inherit!important;
    font-size: inherit!important;
    font-style: inherit!important;
    font-variant: normal!important;
    font-weight: inherit!important;
    height: auto!important;
    left: auto!important;
    letter-spacing: normal!important;
    line-height: inherit!important;
    list-style-type: inherit!important;
    list-style-position: outside!important;
    list-style-image: none!important;
    margin: 0!important;
    max-height: none!important;
    max-width: none!important;
    min-height: 0!important;
    min-width: 0!important;
    opacity: 1!important;
    overflow: visible!important;
    padding: 0!important;
    position: static!important;
    quotes: '' ''!important;
    right: auto!important;
    table-layout: auto!important;
    text-align: inherit!important;
    text-decoration: inherit!important;
    text-indent: 0!important;
    text-transform: none!important;
    top: auto!important;
    unicode-bidi: normal!important;
    visibility: inherit!important;
    width: auto!important;
    word-spacing: normal!important;
    z-index: auto!important;
    filter: none!important;
    -webkit-border-radius: 0!important;
    display: inline-block!important;
    vertical-align: middle!important;
    white-space: nowrap!important;
    outline-width: 0!important;
}